.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 100px;
}
.item {
    width: 100%;
    border: 1px solid var(--gray);
    &:hover {
        transform: translateY(1px);
    }
}

.item--img {
    width: 100%;
}

.item--title {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 8px;
    padding-bottom: 20px;
}
.item--bottom {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item--price {
    color: var(--primary);
    font-weight: 500;
}

.item--sold {
    color: var(--text-gray);
    font-size: 1.2rem;
}
